body {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
body, html {
  width: 100%;
  height: 100%;
}
.toolbar {
  width: 100%;
  height: 60px;
  background-color: white;
  border-bottom: 1px #dedede solid;
  -webkit-app-region: drag;
}
.left {
  float: left;
}
.right {
  float: right;
}
.url {
  width: 200px;
  height: 60px;
  -webkit-app-region: no-drag;
}
#url-input {
  width: 200px;
  height: 58px;
  padding-left: 10px;
  color: #808080;
}
.navbuttons {
  margin-left: 10px;
  width: auto;
  height: 60px;
  -webkit-app-region: no-drag;
}
.forward-button, .back-button, .refresh-button, .home-button {
  height: 60px;
  width: 40px;
  background-color: white;
}
.refresh-button {
  background: url('../icons/refresh-button-icon.png') white;
  opacity: .7;
}
.forward-button {
  background: url('../icons/forward-button-icon.png') white;
  opacity: .7;
}
.back-button {
  background: url('../icons/back-button-icon.png') white;
  opacity: .7;
}
.home-button {
  background: url('../icons/home-button-icon.png') white;
  opacity: .7;
}
.forward-button:hover, .back-button:hover, .refresh-button:hover, .home-button:hover {
  opacity: 1;
  cursor: pointer;
}
.browser-controls {
  width: 90px;
  height: 60px;
  margin-right: 10px;
  -webkit-app-region: no-drag;
}
.window-browser-controls {
  width: 90px;
  height: 30px;
}
.toolbar-browser-controls, .close-button, .list-button, .resize-button, .minimize-button {
  width: 30px;
  height: 30px;
}
.list-button {
  background: url('../icons/list-button-icon.png') white;
  opacity: .7;
}
.list-button:hover, .close-button, .minimize-button, .resize-button {
  opacity: 1;
  cursor: pointer;
}
.close-button {
  background: url('../icons/close-button-icon.png') white;
  opacity: .7;
}
.minimize-button {
  background: url('../icons/minimize-button-icon.png') white;
  opacity: .7;
}
.resize-button {
  background: url('../icons/resize-up-button-icon.png') white;
  opacity: .7;
}

.wrapper {
  width: 100%;
  height: calc(100% - 60px);
}
webview {
  width: 100%;
  height: calc(100% - 60px);
  border: 0;
  padding: 0;
  left: 0;
  top: 61px;
  position: absolute;
}
